<!doctype html>
<html>
    <head>
        <title>index</title>
        <meta charset="utf-8"/>
    </head>
    <body>

        <table>
            <tr>
                
                <th>序号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>班级</th>
            </tr>
        {foreach $list as $v}
            <tr>
                
                <td>{$v['id']}</td>
                <td>{$v['name']}</td>
                <td>{$v['sex']}</td>
                <td>{$v['classid']}</td>
            </tr>
        {/foreach}
        </table>
    </body>
</html>
